---
import '../styles/global.css';
import {getCollection, render} from "astro:content";
import Navbar from '../components/Navbar.astro';
export async function getStaticPaths() {
    const postsEntries = await getCollection('posts');
    return postsEntries.map((entry) => ({
        params: { slug: entry.slug }, props: { entry },
    }));
}

const { entry } = Astro.props;
const { Content} = await render(entry);
---
<head>
    <meta charset="utf-8"/>
</head>
<Navbar/>
<main>
    <section>
        <h1>{entry.data.title}</h1>
        <Content/>
    </section>
</main>
<style>
    section {
        max-width: 728px;
        margin: 0 auto;

        img {
            max-width: 100%;
            height: auto;
        }

    }


</style>