---
import {getCollection, render} from "astro:content";
export async function getStaticPaths() {
    const postsEntries = await getCollection('posts');
    return postsEntries.map((entry) => ({
        params: { slug: entry.slug }, props: { entry },
    }));
}

const { entry } = Astro.props;
const { Content} = await render(entry);
---
<head>
    <meta charset="utf-8"/>
</head>
<section>
    <Content />
</section>

<style>
    * {
        font-family: 'Roboto', sans-serif;
    }

    section {
        max-width: 728px;
        margin: 0 auto;

        img {
            max-width: 100%;
            height: auto;
        }

    }


</style>