---
import { getCollection } from 'astro:content';

const authors = await getCollection('authors');
---
<h1>List of posts</h1>
<ul>
    {authors.map(({data: {avatar , name}}) => (
        <li>
            {avatar  && <img src={typeof avatar ==='string'? avatar : avatar.src } alt={name} />}
            <span>{name}</span>
        </li>
    ))}
</ul>
