---
import '../styles/global.css'
import Header from '../components/Header.astro';
import Navbar from "../components/Navbar.astro";
import SearchComponent from "astro-pagefind/components/Search";
import Meta from "../components/Meta.astro";
---
<Meta title="Search" description="Search for content on this site"/>
<Navbar/>
<main>
    <Header>
        <h1>Search</h1>
    </Header>
    <section>
        <SearchComponent id="search"
                         uiOptions={{showImages: false, resetStyles: false, pageSize: 10, autofocus: true}}/>
    </section>
</main>

<style>
    :root {
        --local-primary-color: var(--color-ink);
        --pagefind-ui-primary: var(--local-primary-color);
        --pagefind-ui-background: white;
        --pagefind-ui-border-radius: 40px;
        --pagefind-ui-font: 'Roboto', sans-serif;
    }

    main {
        max-width: 1140px;
        margin: 0 auto;
        padding: 0 15px;
    }


    section {
        margin-top: -2rem;
        mark {
            background-color: inherit;
        }

        button {
            border: none;
        }

        input {
            border-radius: 40px;
            border: none;
            outline: none;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        }
    }
</style>
