---
import '../styles/global.css'
import Navbar from "../components/Navbar.astro";
import SearchComponent from "astro-pagefind/components/Search";
---
<Navbar/>
<main>
    <header>
        <h1>Search</h1>
    </header>
    <section>
        <SearchComponent id="search"
                         uiOptions={{showImages: false, resetStyles: false, pageSize: 10, autofocus: true}}/>
    </section>
</main>

<style>
    :root {
        --local-primary-color: var(--color-ink);
        --pagefind-ui-primary: var(--local-primary-color);
        --pagefind-ui-background: white;
        --pagefind-ui-border-radius: 40px;
        --pagefind-ui-font: 'Roboto', sans-serif;
    }

    main {
        max-width: 1140px;
        margin: 0 auto;
        padding: 0 15px;

        header {
            color: white;
            padding: 5rem 0;

            h1 {
                text-align: center;
                margin: 1rem 0;
                font-size: 4rem;
            }

            &:before {
                content: '';
                position: absolute;
                top: 0;
                right: 0;
                width: 100%;
                height: 400px;
                background-size: cover;
                background-image: linear-gradient(to right, var(--color-ink), var(--color-iris));
                z-index: -1;
                box-shadow: rgba(13, 13, 13, 0.15) 0 0 10px;
            }
        }
    }


    section {
        mark {
            background-color: inherit;
        }

        button {
            border: none;
        }

        input {
            border-radius: 40px;
            border: none;
            outline: none;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        }
    }
</style>
