title:            TechM6Web
description:      Blog technique de M6Web
logo:             site-logo.png
disqus_shortname: m6webtechblog
search:           true
#Change url to your domain. Leave localhost server or blank when working locally.
url:              https://tech.m6web.fr

rss_path: /rss

# Owner/author information
owner:
  name:           M6Web
  avatar:         bio-photo.jpg
  email:          opensource@m6web.fr
  # Social networking links used in footer. Update and remove as you like.
  twitter:  TechM6Web
  facebook: techM6Web
  github: M6Web
  stackexchange:
  linkedin:
  instagram:
  flickr:
  tumblr:
  # For Google Authorship https://plus.google.com/authorship
  google_plus:

# Analytics and webmaster tools stuff goes here
google_analytics: UA-32126501-1
google_verify:
# https://ssl.bing.com/webmaster/configure/verify/ownership Option 2 content= goes here
bing_verify:

# Links to include in top navigation
# For external links add external: true
links:
  - title: home
    url: /
  - title: About
    url: /about
  - title: Jobs
    url: /jobs
  - title: OSS
    url: /oss
  - title: Tags
    url: /tags.html
#  - title: Theme Setup
#    url: /theme-setup
#  - title: Made Mistakes
#    url: http://mademistakes.com
#    external: true

# http://en.wikipedia.org/wiki/List_of_tz_database_time_zones
timezone:    Europe/Paris
future:      true
pygments:    true
markdown:    kramdown

# https://github.com/mojombo/jekyll/wiki/Permalinks
permalink:   /:categories/:title/

# Split posts over multiple subdirectories called “page2”, “page3”, … “pageN”
paginate: 20
paginate_path: 'page:num'

kramdown:
  auto_ids: true
  footnote_nr: 1
  entity_output: as_char
  toc_levels: 1..6
  use_coderay: false

  coderay:
    coderay_line_numbers:
    coderay_line_numbers_start: 1
    coderay_tab_width: 4
    coderay_bold_every: 10
    coderay_css: class

include: [".htaccess"]
exclude: ["lib", "config.rb", "Gemfile", "Capfile", "Gemfile.lock", "config", "log", "Rakefile", "Rakefile.rb", "tmp", "less", "*.sublime-project", "*.sublime-workspace", "test", "spec", "Gruntfile.js", "package.json", "node_modules"]

gems: ["jekyll-paginate", "jekyll-gist"]
