---
import BedrockLogo from '../assets/images/bedrockLogo.png';
import {Image} from "astro:assets"
---
<div class="nav-wrapper">
    <a href="/">
        <div class="logo-wrapper">
            <Image src={BedrockLogo} alt="Bedrock Logo"/>
        </div>
    </a>
    <details>
        <summary>
            🍔
        </summary>
        <nav class="dropdown">
            <ul>
                <li>
                    <p><a href="/">Blog</a></p>
                </li>
                <li>
                    <p><a href="/lft">LFTs</a></p>
                </li>
                <li>
                    <p><a href="/meetups">Meetups</a></p>
                </li>
                <li>
                    <p><a href="/oss">OSS</a></p>
                </li>
                <li>
                    <p><a href="/search">Search</a></p>
                </li>
            </ul>
        </nav>
    </details>
    <nav class="desktop">
        <ul>
            <li>
                <a href="/">Blog</a>
            </li>
            <li>
                <a href="/lft">LFTs</a>
            </li>
            <li>
                <a href="/meetups">Meetups</a>
            </li>
            <li>
                <a href="/oss">OSS</a>
            </li>
            <li>
                <a href="/search">Search</a>
            </li>
        </ul>
    </nav>
</div>

<style>
    .nav-wrapper {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 0 auto;
        padding: 1rem;
        height: 60px;
        border-radius: 2rem;
        background-color: rgba(255, 255, 255, 0.89);
        box-shadow: 0 0 30px rgba(0, 0, 0, 0.22);
        position: sticky;
        width: 90vw;
        top: 1rem;
        z-index: 1;
        backdrop-filter: blur(10px);
    }

    .nav-wrapper a {
        height: 2.5rem;
        width: 4rem;
        object-fit: contain;
    }

    .logo-wrapper {
        height: 100%;
        width: 100px;
        padding: 3px 8px;

        img {
            height: 100%;
            width: 100%;
            object-fit: contain;
        }
    }

    nav.desktop {
        display: none;

        @media (min-width: 768px) {
            display: flex;
        }
    }

    nav.desktop ul {
        gap: 1rem;
    }

    nav.desktop ul li {
        list-style: none;
    }

    nav.desktop ul li a {
        padding: 1rem;
        font-size: 1.2rem;
        font-weight: 500;
        position: relative;


        &:before {
            display: block;
            content: '';
            position: absolute;
            width: 100%;
            height: 3px;
            left: 0;
            bottom: -3px;
            background-color: var(--local-primary-color, var(--color-ink));
            transform: scaleX(0);
            transition: all 150ms ease-in-out;
        }

        &:hover:before {
            transform: scaleX(1);
        }
    }

    details {
        summary {
            list-style: none;

            &::-webkit-details-marker {
                display: none;
            }
        }
    }

    .dropdown {
        details[open] & {
            opacity: 1;
            transform: translateY(15px);
        }
        position: absolute;
        border-radius: 2rem;
        top: 60px;
        opacity: 0;
        right: 0;
        width: 100%;
        background-color: rgba(255, 255, 255, 0.89);
        box-shadow: 0 0 30px rgba(0, 0, 0, 0.22);
        z-index: 1;
        transition: all 150ms ease-in;

        ul {
            display:flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: center;
            gap: 2rem;

            li p {
                text-transform: uppercase;
                padding: 1rem 0;
                font-size: larger;
                line-height: 1.5rem;
            }
        }
    }




</style>
