.comments {
  @extend %padding-post;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  float: left;
  width: 100%;
}

article {
  @extend .comments;

  header {
    margin-bottom: 6%;
    text-align: center;
  }

  a:hover {
    @extend .body-link;
  }

  .footnotes {
    font-size: 0.9em;
  }
}

footer {
  width: 100%;
  margin-top: 0;
  margin-bottom: 0;
  font-size: 0.9em;
  display: inline-block;
  text-align: center;

  .meta {
    display: inline;
  }

  a.button {
    margin-left: 1em;
  }
}

header {
  h1 {
    margin: 0;
  }
}

.post-info {
  display: inline-flex;
  flex-wrap: wrap;
  
  .author, .publication-date {
    display: flex;
    align-items: center;
    text-transform: uppercase;

    .thumbnail {
      border-radius: 50%;
      padding: 0;
      height: 1.5em;
      width: 1.5em;
      margin-right: 0.5em;
    }

    .name {
      filter: opacity(0.7);
    }

    &:hover {
      text-decoration: none;
    }
  }

  .publication-date {
    filter: opacity(0.7);
  }

  .spacer {
    padding: 0 0.5em;
    filter: opacity(0.7);
  }
}

/* --- Feature image --- */
.feature-image {
  padding: 0;

  .post-link {
    color: var(--header-text);
  }

  h1.title, .post-info {
    @extend .txt-shadow;
  }

  header {
    color: var(--header-text);
    margin-bottom: 0;
    padding: $padding-large/2.5 $padding-large;

    a {
      color: var(--header-text);
    }
  }

  .post-content {
    @extend %padding-post;
    padding-bottom: 0;
  }

  footer {
    @extend %padding-post;
    padding-top: 0;
  }

  .feature-image-padding {
    padding: $feature-image-padding;
  }
}

/*-- feature-image Responsive scrolling --*/
.feature-image header {
  @media screen and (max-width: $break) {
    padding: $padding-large*1.5 $padding-small;
  }

  @media screen and (min-width: $break) {
    background-size: 120% auto;
  }

  @media screen and (max-width: $break) {
    background-size: 200% auto;
  }

  @media screen and (max-width: $sm-break) {
    background-size: 400% auto;
  }
}

.post-content {
  h1 { color: var(--h1); }
  h2 { color: var(--h2); }
  h3 { color: var(--h3); }
  h4 { color: var(--h4); }
  h5 { color: var(--h5); }
  h6 { color: var(--h6); }

  a {
    :visited {
      filter: saturate(0.7);
    }
  }
}
